.price-chart__wrapper {
    width: 100%;
    background: linear-gradient(175.5deg, white 20% ,white 25% ,#f2f2f2 20% ,#f2f2f2 100%);
    }

.price-chart {
    width:1200px;
    padding: 0 120px;
    padding-top: 200px;
    padding-bottom: 90px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tariff {
    width: 233px;
    height: 100px;
    background-color: #283645;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.tariff_name {
    display: block;
    font-family: "Open Sans Bold";
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
}

.tariff_price {
    font-family: "Open Sans Light";
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.tariff_hit {
    position: relative;
    top: -15px;
    right: 70px;
    display: block;
    font-family: "Open Sans Bold";
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    background-color: #d22856;
    padding-left: 20px;
    padding-right: 50px;
    transform: rotate(-0.115turn);
    margin-bottom: -30px;
}

.tariff-options {
    width: 940px;
    border: 2px solid #e5e5e5;
    border-collapse: collapse;
    height: auto;
}

.tariff-options td {
    border: 2px solid #e5e5e5;
    border-collapse: collapse;
    width: 225px;
    height: 60px;
    padding-left: 25px;
    font-family: "Open Sans Regular";
    font-size: 18px;
    line-height: 30px;
    color: #283645;
}

.available-option {
    background-image: url(/images/option-available.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.non-available-option {
    background-image: url(/images/option-non-available.svg);
    background-repeat: no-repeat;
    background-position: center;
}

