*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #ffffff;
    min-width: 340px;

    font-family: "Open Sans Regular";
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus
 {
  text-decoration: none;
}